@import url(../reset/global.css);

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

section {
    border: 1px solid black;
    width: 49%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

img{
    width: 51%;
}


h1 {
    font size: 32;
    font-weight: 500 ;
    font-style: normal;
    
}   
form-container > p {
    margin-top: 22px;
}

form {
     border: 1px solid black;
}
fieldset {
    display: flex;
    flex-direction: column;
         
}